[submodule "pluginHost"]
	path = pluginHost
	url = https://github.com/siripaksorn/pluginHost.git
	ignore = dirty
[submodule "pluginInterface"]
	path = pluginInterface
	url = https://github.com/siripaksorn/pluginInterface.git
	ignore = dirty
[submodule "plugin1"]
	path = plugin1
	url = https://github.com/siripaksorn/plugin1.git
	ignore = dirty
[submodule "plugin2"]
	path = plugin2
	url = https://github.com/siripaksorn/plugin2.git
	ignore = dirty
[submodule "plugin3"]
	path = plugin3
	url = https://github.com/siripaksorn/plugin3.git
	ignore = dirty
[submodule "plugin4"]
	path = plugin4
	url = https://github.com/siripaksorn/plugin4.git
	ignore = dirty

[submodule "pluginSiripaksorn"]
	path = pluginSiripaksorn
	url = https://github.com/siripaksorn/pluginSiripaksorn.git
	ignore = dirty
